
[monospace] {
	font-family: monospace !important;
}

[bold] {
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
	word-wrap: break-word;
}

h1 {
	color: #f9e6c5;
	font-size: 24px;
	font-weight: 700;
}

h4 {
	opacity: .7;
	font-size: 16px;
	font-weight: 700;
}

h5 {
	opacity: .9;
	font-size: 12px;
	padding-left: 8px;
}

h6 {
	color: #f9e6c5;
	font-size: 20px;
	font-weight: 700;
	padding-left: 8px;
}

body {
	background: #000;
	background-image: url(../img/background.png);
	background-attachment: fixed;
	background-size: 100% auto;
	background-position: top;
	background-repeat: no-repeat;
}

body { padding: 0px 16px 8px 16px; }

b { font-weight: 700; color: #e27d4e !important; }

.container:not(:first-child) { 
	margin-top: 32px;
}
.container:not(#c_hero) {
	width: 100%;
	max-width: 720px;
	min-width: 260px;
	border-radius: 0px;
	padding: 8px;
	margin: 8px auto;
	/*box-shadow: 0px 5px 25px -10px #000;
	background: #000c;
	backdrop-filter: blur(25px) saturate(160%) contrast(45%);*/
}

	.container .sub {
		border-radius: 0px;
		padding: 16px;
		text-align: justify;
	}
	
	.container .sub:not(:first-child) {
		margin-top: 8px;
	}

#c_hero { box-shadow: none; }

#c_hero img { max-width: 300px; margin: 64px auto; display: block; }

[highlight] { color: red !important; }

#quot {
	animation: pulse 3s infinite;
	color: #fae5c5;
}

@keyframes pulse {
	0% {
		text-shadow: 0px 0px 16px #de4444;
	}

	50% {
		text-shadow: 0px 0px 12px #f19e09;
	}

	100% {
		text-shadow: 0px 0px 16px #de4444;
	}

}

input[type="number"] {
	background: transparent;
	padding: 16px;
	border: none;
	border-bottom: 2px solid #ccc;
	font-size: 32px;
	width: 100%;
	color: #555;
	font-weight: 900;
	transition: border-color 1s;
	background-image: url("../img/trx.png");
	background-size: 48px 48px;
	background-position: right center;
	background-repeat: no-repeat;
}

input[type="number"]:focus {
	border-color: red;
	outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
	margin-top: 16px;
	border-radius: 10px;
	/*
	border: none;
	background: linear-gradient(178deg, #f3cea9, #ca7045);
	color: #000;
	*/
	border: 2px solid #ca7045;
	background: #000c;
	color: #f3cea9;
	width: auto;
	padding: 12px 16px;
	font-size: 12px;
	font-weight: 700;
	outline: none;
	transition: opacity 0.2s;
	cursor: pointer !important;
}

button:hover { opacity: .8 }

td > button {
	font-size: 12px !important;
	padding: 8px 4px !important;
	margin: 0 !important;
	border-radius: 4px !important;
}

table {
	font-size: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 1px solid #000;
	border-radius: 0;
}
table thead th:first-child {
	border-top-left-radius: 0;
}
table thead th:last-child {
	border-top-right-radius: 0;
}
table tr:last-child td:first-child {
	border-bottom-left-radius: 0;
}
table tr:last-child td:last-child {
	border-bottom-right-radius: 0;
}
table, table > *, table > * > * {
	width: 100%;
}
th { height: 30px; background-color: #111; font-size: 11px}
td { height: 28px; border: 1px solid #000; text-align: center; padding: 8px; vertical-align: middle }
